*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:
    "Inter",
    "Segoe UI",
    sans-serif;

    background:#F8FAFC;

    color:#0F172A;

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    text-transform:none !important;

}

.page{

    padding:30px;

}

.page-title{

    font-size:32px;

    font-weight:700;

    margin-bottom:30px;

}

.section-title{

    font-size:22px;

    font-weight:600;

    margin-bottom:20px;

}